$azureRadiance: #108ee9;
$azureRadiance-invert: #ef7116;
$tundora: #444444;
$tundora-invert: #bbbbbb;
$dove-grey: #666666;

$text-color: $dove-grey;
$title-color: $text-color;
$title-weight: normal;

$shadow: 0 2px 3px rgba(#000, 0.1), 0 0 0 1px rgba(#000, 0.1);
